body{
    background-color: #ddece4;
    font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;
}
a{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    
    text-decoration: none;  
}
a:hover{
    border-bottom: 1px solid rgb(226, 70, 70);
}