body{
    background-color: #ddece4;
    font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;
}
a{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    
    text-decoration: none;  
}
a:hover{
    border-bottom: 1px solid rgb(226, 70, 70);
}

.summary p:first-child{
    border-bottom: 1px red solid;
    padding-bottom: 10px;
}
@media screen and (max-width: 550px){ 
    body {
        font-size: 97%;
    }
    .page-wrapper{
        margin: 5% 5% 2% 2%;
        background-color: skyblue;
        padding: 4% 5% 1% 1%;
        
    }
    header h2{
        margin-top: 1%;
        color: #fff;
        font-size: 3.3em;
        font-weight: 900;
        
    }
    .summary {
        color: #fff;
        text-transform:uppercase;
        font-size: .9em;
       
        
    }
    .summary a{
        color: #fff;
        
    }
    footer a{
        color: rgb(70, 69, 69);
    }
    section .preamble{
        background-color: rgba(255,255,255,0.9);
        color: rgb(53, 52, 52);
        margin: 10% 0 3% -30%;
        
        padding: 3% 5% 5% 30%;
    }